#include "winver.h"

IDI_ICON1 ICON DISCARDABLE	"images/dromedary.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "zhengtianzuo"
            VALUE "FileDescription", "单峰驼数据库IDE"
            VALUE "FileVersion",     "1.0.0.0"
            VALUE "InternalName",    "CamelDataManager.exe"
            VALUE "LegalCopyright", "Copyright (C) 2003-2103 CamelSoft Corporation"
            VALUE "OriginalFilename","CamelDataManager.exe"
            VALUE "ProductName", "单峰驼数据库IDE"
            VALUE "ProductVersion",  "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
